@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

:root {
  --transition: all 0.7s ease;
  --yellow: #f9d342;
  --dark: #292826;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.7;
}
.btn {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 140px;
  display: block;
  margin: 15px auto;
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover {
  opacity: 0.85;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 8px 0;
}
img {
  width: 100%;
  display: block;
}
@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
}

/* header */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("../images/4.jpg") center/cover no-repeat;
  min-height: 100vh;
  color: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 25px;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
.head-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-top span {
  cursor: pointer;
  letter-spacing: 2px;
  transition: var(--transition);
}
.head-top img {
  cursor: pointer;
  transition: var(--transition);
  width: 30px;
  height: 30px;
}
.head-top span:hover {
  color: var(--yellow);
}
.head-bottom {
  flex: 1;
  text-align: center;
  width: 80vw;
  margin: 0 auto;
}
.head-bottom h2 {
  padding: 22px 0;
  font-size: 45px;
  border-bottom: 1px solid #fff;
}
.head-bottom p {
  opacity: 0.8;
  font-size: 20px;
  margin: 45px auto;
  width: 60vw;
}
.head-btn {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #fff;
  background: transparent;
  padding: 13px 20px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
  text-decoration: none;
}
.head-btn:hover {
  background-color: white;
  color: black;
}

@media (max-width: 500px) {
  .head-btn {
    font-size: 17px;
  }
  .head-bottom h2 {
    font-size: 28px;
  }
  .head-bottom p {
    font-size: 15px;
    margin: 20px auto;
    opacity: 0.9;
  }
  .head-top img {
    cursor: pointer;
    letter-spacing: 2px;
    transition: var(--transition);
    width: 20px;
    height: 20px;
  }
}
.site-language {
  display: flex;
  justify-content: space-evenly;
  width: 120px;
}
.site-language p {
  letter-spacing: 2px;
}

/* side nav */
.sidenav {
  background: var(--dark);
  color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 300px;
  padding: 20px;
  transition: var(--transition);
  z-index: 10;
}

/********/
.sidenav.show {
  right: 0;
}
/*************/
.cancel-btn {
  position: absolute;
  right: 25px;
  font-size: 22px;
  cursor: pointer;
  transition: var(--transition);
}
.cancel-btn:hover {
  opacity: 0.7;
}
.navbar {
  margin-top: 50px;
  list-style: none;
  padding: 12px;
}
.navbar li a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  padding: 15px 0;
  display: block;
  border-bottom: 0.5px solid rgba(249, 211, 66, 0.3);
  opacity: 0.8;
  letter-spacing: 1.5px;
  transition: var(--transition);
}
.navbar li a:hover {
  padding-left: 12px;
}
.sign-up,
.log-in {
  background: var(--yellow);
  color: #fff;
}
@media (max-width: 400px) {
  .sidenav {
    width: 50%;
  }
}

/** title */
.title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  color: var(--yellow);
  border-bottom: 5px solid var(--dark);
  width: 235px;
  margin: 15px 0;
}
.map-title {
  width: 85vw;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 20px;
  color: var(--yellow);
  border-bottom: 5px solid var(--dark);
  width: 235px;
  margin: 15px 0;
  margin-left: 5%;
  display: block;
}

.sec-width {
  width: 85vw;
  margin: 0 auto !important;
}

/* service */
.services {
  margin: 40px 0;
}
.service {
  display: flex;
  margin: 30px 0;
}
.service-icon {
  align-self: flex-start;
  font-size: 48px;
  color: #252525;
}
.service-content {
  padding-left: 20px;
  font-size: 25px;
}
.service-content h2 {
  opacity: 0.7;
}
.service-content button {
  margin-left: 0;
  margin-right: 0;
  background: var(--yellow);
  color: #fff;
}
@media (min-width: 992px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
}
@media (max-width: 500px) {
  .title h2 {
    font-size: 24px;
  }
  .map-title h2 {
    font-size: 24px;
  }
}

/* booking form */
.book {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("../images/4.jpg") center/cover no-repeat;
  color: #fff;
  padding: 40px 60px;
  height: 300px;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.button-container button {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid #fff;
  background: transparent;
  padding: 13px 20px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
}
.button-container button:hover {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid black;
  background: transparent;
  padding: 13px 20px;
  background: white;
  color: black;
  cursor: pointer;
  transition: var(--transition);
}
@media (max-width: 500px) {
  .book {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* photo */

.photos {
  margin: 40px 0;
}
.photo {
  margin: 45px 0;
  padding-bottom: 25px;
  color: #fff;
}
.photo-image {
  overflow: hidden;
  justify-content: center;
}
.photo-image img {
  width: auto;
  transition: var(--transition);
}
.photo-image:hover img {
  transform: scale(1.2);
}
@media (min-width: 900px) {
  .photos-container {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1370px) {
  .photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
    max-width: 100%;
  }
  .photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0;
    margin: 5px 0;
    max-width: 100%;
  }
  .photo-image {
    justify-content: center;
  }
  .photo-image img {
    height: 100%;
  }
}

.maps {
  height: 500px;
  width: 100%;
}

/* footer */
.footer {
  background: var(--dark);
  color: #fff;
  text-align: center;
}
.footer-container {
  width: 85vw;
  margin: 0 auto;
  padding: 30px 0;
}
.footer-container p,
.footer-container a,
.footer-container span {
  opacity: 0.8;
}
.footer a {
  display: block;
  color: #fff;
  text-decoration: none;
}
.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.social-icons li {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  background: #2e2e2e;
  border-radius: 50%;
  transition: var(--transition);
  cursor: pointer;
}
.social-icons li:hover {
  background: #fff;
  color: #2e2e2e;
}
.contact-item span {
  display: block;
}
@media (min-width: 900px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (min-width: 1170px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  /* .footer-container div:nth-child(1) p {
    padding-right: 20px;
    max-width: 70%;
  } */
  .footer__container--left {
    max-width: 50%;
  }
  .contact-item {
    display: grid;
    grid-template-columns: 10% 90%;
    margin-bottom: 15px;
    align-items: center;
  }
}

.showModal {
  position: fixed;
  background: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}
